/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*common*/

body{
    color:white;
    height: 100vh;
}

.flex{
    display: flex;
}

ul{
    list-style-type: none;
}

ul>li{
    padding: 10px;
}

.opacity{
    opacity:0.6;
}

.opacity:hover{
    opacity: 1;
}

/*main-nav*/

.container-nav{
    flex-direction: column;
    background-color: black;
    justify-content: space-between;
    height: 90vh;
    /*width:;*/ /*probabilmente da levare*/
    align-items: center;
}

.container-nav>nav{
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px ;
    width: 50px;
}

.container-i{
    font-size: 25px;
    padding: 5px;
    justify-content: center;
}

.fa-arrow-down{
    font-size: 10px;
    border-radius: 50%;
    border: 1px solid white;
    padding-left: 1px;
    padding-right: 1px;
}

.container-i>small, .container-i>span, .playlist{
    display: none;
}

.fa-circle-user{
    color: gainsboro;
}

.playlist{
    overflow: auto;
    max-height: 150px;
}

.playlist, .playlist>h3{
    padding-top:10px;
}

h3>.fa-square-plus{
    padding-right: 5px;
    font-size: 25px;
}

/*main-top*/
.central-main{
    width: calc(100% - 50px);
}

.container-main-top{
    background-color: #222222;
    height: 10vh;
}

.main-top{
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 20px;
    padding-top: 20px;
}

button{
    padding: 5px;
    padding-left:10px;
    padding-right:10px;
    border-radius: 25%;
    background-color: #222222;
    color: white;
    
}

/*main-bottom*/

.main-bottom>h2{
    padding: 10px;
}

.main-bottom>small{
    margin-bottom: 30px;
    padding-left: 10px;
}

.main-bottom{
    background-color: #444444;
    overflow: auto;
    max-height: calc(100vh - 20vh);
}

.nav-main-bottom{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center ;
}

.greenhover:hover{
    border-bottom: 3px solid green;
}

.body-main-bottom{
    flex-wrap: wrap;
}

.audio-and-title{
    flex-direction: column;
    padding: 5px;
    align-items: center;

}

.audio-and-title>img{
    width: 215px;
    padding-left: 10px;
    margin-top: 10px;
}
/*footer*/
footer{
    height: 10vh;
    background-color: #666666;
}

.container-footer{
    justify-content: space-between;
    align-items: center;
}

/*@media screen and (min-width:552px) {
    
}*/

@media screen and (min-width:552px){
    /*main-nav*/
    .container-i>small, .container-i>span{
        display: block;
    }
    
    .playlist{
        display: block;
    }
    .container-nav>nav{
        align-items: flex-start;
        width: 230px; 
    }

    .container-nav{
        width: 230px; 
        align-items: flex-start;
    }

    .logo{
        font-size: 50px;
    }

    .container-i>span{
        font-size: 16px;
        align-items: flex-start;
    }

    .border-end{
        border-bottom: 1px solid white;
        padding-bottom: 10px;
    }

    .container-i>i{
        padding-right:5px;
    }

    .logo>span{
        font-size: 25px;
        line-height: 50px;
        padding-bottom: 30px;
    }

    /*central main*/
    .central-main{
        width: calc(100% - 230px);
    }

    /*main top*/

    /*main bottom*/
}

@media screen and (min-width:878px){
    /*main-nav*/
    .container-i>small, .container-i>span{
        display: block;
    }
    
    .playlist{
        display: block;
    }
    .container-nav>nav{
        align-items: flex-start;
        width: 230px;
    }

    .container-nav{
        width: 230px; 
        align-items: flex-start;
    }

    .logo{
        font-size: 50px;
    }

    .container-i>span{
        font-size: 16px;
        align-items: flex-start;
    }

    .border-end{
        border-bottom: 1px solid white;
        padding-bottom: 10px;
    }

    .container-i>i{
        padding-right:5px;
    }

    .logo>span{
        font-size: 25px;
        line-height: 50px;
        padding-bottom: 30px;
    }
/*main bottom*/
    .audio-and-title>img{
        width: 180px;
    }
}


