/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*common*/

body{
    color:white;
    height: 100vh;
}

.flex{
    display: flex;
}

ul{
    list-style-type: none;
}

ul>li{
    padding: 10px;
}

.opacity{
    opacity:0.6;
}

.opacity:hover{
    opacity: 1;
}

main{
    overflow: hidden;
    height: calc(100% - 90px);
}
/*main-nav*/

.container-nav{
    flex-direction: column;
    background-color: black;
    justify-content: space-between;
    min-height: 90vh;
    align-items: center;
}

.container-nav>nav{
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px ;
    width: 50px;
}

.container-i{
    font-size: 25px;
    padding: 5px;
    justify-content: center;
}

.profile{
    margin-top: auto;
}

.fa-arrow-down{
    font-size: 10px;
    border-radius: 50%;
    border: 1px solid white;
    padding-left: 1px;
    padding-right: 1px;
}

.container-i>small, .container-i>span, .playlist{
    display: none;
}

.fa-circle-user{
    color: gainsboro;
}

.playlist{
    overflow-y: hidden;
    /*max-height: 200px;*/
}

.playlist, .playlist-li-container{
    overflow-y: auto;
    max-height: 250px;         /*Da sistemare*/
}

.playlist, .playlist>h3{
    padding-top:10px;
}

.playlist>h3{
    padding-bottom: 20px;
}

h3>.fa-square-plus{
    padding-right: 5px;
    font-size: 25px;
}

/*main-top*/
.central-main{
    width: calc(100% - 50px);
}

.container-main-top{
    background-color: #222222;
    min-height: 90px;
}

.main-top{
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 20px;
    padding-top: 20px;
}

button{
    padding: 5px;
    padding-left:10px;
    padding-right:10px;
    border-radius: 25%;
    background-color: #222222;
    color: white;
}

/*main-bottom*/

.main-bottom>h2{
    padding: 10px;
}

.main-bottom>small{
    margin-bottom: 30px;
    padding-left: 10px;
}

.main-bottom{
    background-color: #444444;
    overflow: auto;
    max-height: calc(100vh - 180px);
}

.nav-main-bottom{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center ;
}

.greenhover:hover{
    border-bottom: 3px solid green;
}

.body-main-bottom{
    flex-wrap: wrap;
}

.audio-and-title{
    flex-direction: column;
    padding: 5px;
    align-items: center;
    position: relative;
    z-index: 1;
}

.audio-and-title>i{
    position: absolute;
    bottom: 35%;
    font-size: 90px;
    z-index: -1;
}

.audio-and-title:hover .fa-regular{
    z-index: 1;
}

.audio-and-title:hover{
    opacity: 0.6;
}

.audio-and-title>img{
    width: 160px;
    padding-left: 10px;
    margin-top: 10px;
}
/*footer*/
footer{
    height: 90px;
    background-color: #666666;
}

.container-footer{
    justify-content: space-between;
    align-items: center; 
}

.onplay{
    padding: 5px;
    padding-top: 30px;
}

.onplay-img>img{
    width: 32px;
}

.preference{
    flex-direction: column;
    padding-top: 30px;
}

.fa-heart:hover {
    color: red;
}

.playline-item-container{
    flex-direction: column;
}

.playline-item>i{
    padding: 5px;
}

.playline-item{
    padding-left: 20px;
}

.empty{
    width: 10px;
    height: 10px;
    border-bottom: 3px solid white;
}

.empty-opacity{
    width: 50px;
    height: 10px;
    border-bottom: 3px solid #999999;
}

.line>small{
    padding-left:10px;
    padding-right: 10px;
}

.utilities{
    padding-top:30px;
}

.utilities>div, .utilities-items>i{
    padding-right: 10px;
}

.icon-footer{
    font-size: 10px;
}

/*@media screen and (min-width:552px) {
    
}*/

@media screen and (min-width:552px){
    /*main-nav*/
    .container-i>small, .container-i>span{
        display: block;
    }
    
    .playlist{
        display: flex;
        flex-direction: column;
    }
    .container-nav>nav{
        align-items: flex-start;
        width: 230px; 
    }

    .container-nav{
        width: 230px; 
        align-items: flex-start;
    }

    .logo{
        font-size: 50px;
    }

    .container-i>span{
        font-size: 16px;
        align-items: flex-start;
    }

    .border-end{
        border-bottom: 1px solid white;
        padding-bottom: 10px;
    }

    .container-i>i{
        padding-right:5px;
    }

    .logo>span{
        font-size: 25px;
        line-height: 50px;
        padding-bottom: 30px;
    }

    /*central main*/
    .central-main{
        width: calc(100% - 230px);
    }

    /*main top*/

    /*main bottom*/
    .audio-and-title>img{
        width: 170px;
    }

    /*footer*/
    
    .empty-opacity{
        width: 120px;
    }

    .playline-item>i{
        padding: 8px;
    }

    .icon-footer{
        font-size: 12px;
    }
}

@media screen and (min-width:640px){
    /*main-nav*/
    .container-i>small, .container-i>span{
        display: block;
    }
    
    .playlist{
        display: flex;
        flex-direction: column;
    }
    .container-nav>nav{
        align-items: flex-start;
        width: 230px;
    }

    .container-nav{
        width: 230px; 
        align-items: flex-start;
    }

    .logo{
        font-size: 50px;
    }

    .container-i>span{
        font-size: 16px;
        align-items: flex-start;
    }

    .border-end{
        border-bottom: 1px solid white;
        padding-bottom: 10px;
    }

    .container-i>i{
        padding-right:5px;
    }

    .logo>span{
        font-size: 25px;
        line-height: 50px;
        padding-bottom: 30px;
    }
/*main bottom*/
    .audio-and-title>img{
        width: 180px;
    }

    /*central main*/
    .central-main{
        width: calc(100% - 230px);
    }

    /*footer*/
    
    .empty-opacity{
        width: 160px;
    }

    .playline-item>i{
        padding: 10px;
    }

    .icon-footer{
        font-size: 15px;
    }
}

@media screen and (min-width:878px){
    /*main-nav*/
    .container-i>small, .container-i>span{
        display: block;
    }
    
    .playlist{
        display: flex;
        flex-direction: column;
    }
    .container-nav>nav{
        align-items: flex-start;
        width: 230px;
    }

    .container-nav{
        width: 230px; 
        align-items: flex-start;
    }

    .logo{
        font-size: 50px;
    }

    .container-i>span{
        font-size: 16px;
        align-items: flex-start;
    }

    .border-end{
        border-bottom: 1px solid white;
        padding-bottom: 10px;
    }

    .container-i>i{
        padding-right:5px;
    }

    .logo>span{
        font-size: 25px;
        line-height: 50px;
        padding-bottom: 30px;
    }
/*main bottom*/
    .audio-and-title>img{
        width: 230px;
    }

    /*central main*/
    .central-main{
        width: calc(100% - 230px);
    }

    /*footer*/
    
    .empty-opacity{
        width: 180px;
    }

    .playline-item>i{
        padding: 15px;
    }

    .icon-footer{
        font-size: 17px;
    }
}

